#xylophone {
	min-height: 600px;
	height: 600px;
	padding: 10px;
}

.bar {
	padding: 6px;
	margin: 6px;
	width: 10%;
	border: 1px solid #333;
	float: left;
	cursor: pointer;
	text-align: center;
	position: relative;
}

.bar span {
	font-weight: 800;
	font-size: 60px;
	position: absolute;
	bottom: 0px;
	left: 30%;
	color: #333333;
   -webkit-text-fill-color: #FFFFFF;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #000000;

}

.playing {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3) !important; /*thankyou http://stackoverflow.com/a/26073962/1405495 */
}

.c {
	background-color: red;
	min-height: 600px;
	margin-top: 0px;
}

.d {
	background-color: orange;
	min-height: 540px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.e {
	background-color: yellow;
	min-height: 480px;
	margin-top: 60px;
	margin-bottom: 60px;
}

.f {
	background-color: green;
	min-height: 420px;
	margin-top: 90px;
	margin-bottom: 90px;
}

.g {
	background-color: blue;
	min-height: 360px;
	margin-top: 120px;
	margin-bottom: 120px;
}

.a {
	background-color: #4B0082;
	min-height: 300px;
	margin-top: 150px;
	margin-bottom: 150px;
}

.b {
	background-color: #9F00FF;
	min-height: 240px;
	margin-top: 180px;
	margin-bottom: 180px;
}

.c-small {
	background-color: red;
	min-height: 180px;
	margin-top: 210px;
	margin-bottom: 210px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.clear {
	clear:both;
}

.hide {
	display:none;
}