#xylophone {
	width: 100%;
	height: 400px;
	padding: 10px;
}

.bar {
	padding: 6px;
	margin: 6px;
	width: 8%;
	border: 1px solid #333;
	float: left;
	cursor: pointer;
	text-align: center;
}

.bar span {
	font-weight: 800;
	font-size: 60px;
	color: #333333;
   -webkit-text-fill-color: #FFFFFF;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #000000;

}

/* Standing on the shoulder of giants */
/* iPad in portrait and landscape */

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
}

.playing {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.4) !important; /* thankyou http://stackoverflow.com/a/26073962/1405495 */
}

.c {
	background-color: red;
	min-height: 95%;
}

.d {
	background-color: orange;
	min-height: 90%;
}

.e {
	background-color: yellow;
	min-height: 85%;
}

.f {
	background-color: green;
	min-height: 80%;
}

.g {
	background-color: blue;
	min-height: 75%;
}

.a {
	background-color: #4B0082;
	min-height: 70%;
}

.b {
	background-color: #9F00FF;
	min-height: 65%;
}

.c-small {
	background-color: red;
	min-height: 60%;
}

.silence {
	display: none;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.clear {
	clear:both;
}

.hide {
	display:none;
}

footer {
	padding: 6px;
}

#hideinfo {
	padding: 4px;
	margin: 4px;
	border: 1px solid #444;
}

.songlink {
	cursor:pointer;
	color: blue;
	text-decoration: underline;
	display: inline;
}